<!-- Richest -->
<% bidders.forEach(function(bidder, i) { %>
<% if (i >= 3) return false %>
<div class="col-<%= (i == 0 ? 5 : (i == 1 ? 3 : 2)) %> order-<%= (i == 0 ? 2 : (i == 2 ? 3 : 1)) %> <%= (i == 0 ? 'richest-area' : 'others-area') %> <%= (bidders[0].text !='' ? 'hasText' : '') %>" data-rank="<%= i+1 %>">

  <article class="block-image">
    <% if(bidder.url != "") { %>
    <a href="<%= bidder.url %>" target="_blank">
    <% } %>
      <div class="img <%= bidder.text === "" ? 'align-items-center' : 'align-items-start' %>">
        <div class="">
          <img class="img-fluid" src="images/fullsize/<%= bidder.img_path %>" alt="Image du plus riche numéro <%= i+ 1 %>">              
        </div>
      </div>
    <% if(bidder.url != "") { %>
    </a>
    <% } %> 
    <% if(bidder.text != "" && i == 0) { %>
    <div class="richest-text text-center">
      <span>
        <%= bidder.text %>
      </span>
    </div>
    <% } %>
    
  </article>  

  <div class="header-podium text-truncate text-center">
    <span><%= bidder.name %> - <%= bidder.price / 100 %> €</span>
  </div>

  <div class="podium rank-<%= i + 1 %> align-middle">
    <%= i + 1 %>
  </div>

  <div class="shadow"></div>
  
</div>  

<% }) %>

