<div data-id="<%= bidder.id %>" class="col-12 bid-to-increase">
  <h2 class="text-center">Relancer l'enchère</h2>
  <hr>
  <article class="block-image">

    <% if(bidder.url != "") { %>
    <a href="<%= bidder.url %>" target="_blank">
    <% } %>

      <div class="img <%= bidder.text === "" ? 'align-items-center' : 'align-items-start' %>">
        <div>
          <img class="img-fluid" src="images/fullsize/<%= bidder.img_path %>" alt="Image enchère <%= bidder.id %>">              
        </div>
      </div>

    <% if(bidder.url != "") { %>
    </a>
    <% } %> 
    
    <% if(bidder.text != "" && false) { %>
    <div class="richest-text text-center">
      <span>
        <%= bidder.text %>
      </span>
    </div>
    <% } %>

  </article>
  <div class="recap">
    <table class="table table-responsive">
      <tbody>
        <tr>
          <th>Nom : </th>
          <td><%= bidder.name %></td>
        </tr>

        <% if (bidder.url !== "") { %>
        <tr>
          <th>Url : </th>
          <td><%= bidder.url %></td>
        </tr>
        <% } %>

        <% if (bidder.text !== "") { %>
        <tr>
          <th>Texte complémentaire : </th>
          <td><%= bidder.text %></td>
        </tr>
        <% } %>

        <tr>
          <th><strong>Enchère</strong> actuelle : </th>
          <td><%= bidder.price / 100 %> €</td>
        </tr>
      </tbody>
    </table>
  </div>    
</div>