<div id="bid-summary" data-id="<%= bidder.id %>" class="col-11">
  <h2 class="text-center">Recapitulatif</h2>
  <hr>
  <p class="text-center">Prévisualisation : <a class="reload-image">cliquez ici si l'<strong>image</strong> ne s'affiche pas correctement</a></p>
  <article class="block-image">
    <% if(bidder.url != "") { %>
    <a href="<%= bidder.url %>" target="_blank">
    <% } %>

      <div class="img <%= bidder.text === "" ? 'align-items-center' : 'align-items-start' %>">
        <div>
          <img src="images/fullsize/<%= bidder.img_path %>" alt="Prévisualisation nouvelle image">              
        </div>
      </div>

    <% if(bidder.url != "") { %>
    </a>
    <% } %> 
    
    <% if(bidder.text != "") { %>
    <div class="richest-text text-center">
      <span>
        <%= bidder.text %>
      </span>
    </div>
    <% } %>

  </article>

  
  <div class="recap">
    <table class="table">
      <tbody>
        <tr>
          <th>Nom : </th>
          <td><%= bidder.name %></td>
        </tr>

        <% if (bidder.url !== "") { %>
        <tr>
          <th>Url : </th>
          <td><%= bidder.url %></td>
        </tr>
        <% } %>

        <% if (bidder.text !== "") { %>
        <tr>
          <th>Texte complémentaire : </th>
          <td><%= bidder.text %></td>
        </tr>
        <% } %>

        <tr>
          <th><strong>Montant</strong> de votre <strong>enchère</strong> : </th>
          <td><%= bidder.price / 100 %> €</td>
        </tr>
      </tbody>
    </table>
  </div>    

  <footer class="confirm">
    <button class="modify">RETOUR</button>
    <div>
      <button class="paye">CONFIRMER</button>  
      <div class="loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </div>
    </div>
  </footer>

</div>