<!-- Richest -->
<div class="top-rich col-11 %> richest-area <%= (bidders[0].text !='' ? 'hasText' : '') %>">

  <article class="block-image">
    <% if(bidders[0].url != "") { %>
    <a href="<%= bidders[0].url %>" target="_blank">
    <% } %>
      <div class="img">
        <div>
          <img class="img-fluid" src="images/fullsize/<%= bidders[0].img_path %>" alt="Image du plus riche">              
        </div>
      </div>
    <% if(bidders[0].url != "") { %>
    </a>
    <% } %> 
    <% if(bidders[0].text != "") { %>
    <div class="richest-text text-center">
      <span>
        <%= bidders[0].text %>
      </span>
    </div>
    <% } %>
    
  </article> 

  <div class="header-podium text-center">
    <% var price = bidders[0].price / 100 %>
    <span><%= bidders[0].name %> - <%= price.toString().replace('.', ',') %> €</span>
  </div>
</div>  

<div class="homepage-information col-10 order-4">
  Le concept est simple, tant que c'est toi le meilleur enchérisseur, c'est toi qui aura l'honneur d'être en haut du podium ! <br>
  Basé sur un système d'enchères, quiestleplusriche te propose d'afficher une image de ton choix ainsi qu'un court texte et un lien de redirection au clique sur l'image.
</div> 
