<!-- Richest -->
<div class="top-rich col-11 %> richest-area <%= (bidders[0].text !='' ? 'hasText' : '') %>">

  <article class="block-image">
    <% if(bidders[0].url != "") { %>
    <a href="<%= bidders[0].url %>" target="_blank">
    <% } %>
      <div class="img">
        <div>
          <img class="img-fluid" src="images/fullsize/<%= bidders[0].img_path %>" alt="Image du plus riche">              
        </div>
      </div>
    <% if(bidders[0].url != "") { %>
    </a>
    <% } %> 
    <% if(bidders[0].text != "") { %>
    <div class="richest-text text-center">
      <span>
        <%= bidders[0].text %>
      </span>
    </div>
    <% } %>
    
  </article> 

  <div class="header-podium text-center">
    <span><%= bidders[0].name %> - <%= bidders[0].price / 100 %> €</span>
  </div>
</div>  
