<% if(bidder.price != 0) { %>
<tr class="line-ranked-table" data-url="<%= bidder.url %>">
       
  <td class="align-middle index text-center">
    <%= index + 1 + (locals.offset ? offset : 0) %>.
  </td>
  <td class="align-middle text-truncate">
    <div class="name-container">
      <div class="thumb">
        <img class="thumbs" src="images/thumbs/<%= bidder.img_path %>" alt="Image miniature du plus riche numéro <%= index + 1 + (locals.offset ? offset : 0) %>" data-img="<%= bidder.img_path %>">
      </div>
      <div class="name">
          <%= bidder.name %>
      </div>
    </div>
  </td>
  
  <% var price = bidder.price / 100 %>
  <td class="align-middle text-center"><%= price.toString().replace('.', ',') %> €</td>
  <td class="align-middle text-center">
    <% var date = new Date(bidder.createdAt); %>
    <%= date.getUTCDate(); %> - <%= ("0" + (date.getUTCMonth() + 1)).slice(-2) %> %>
  </td>
  <td class="align-middle text-center">
    <span class="fa fa-plus increase-bid" data-id="<%= bidder.id %>"></span>
  </td>
</tr>
<% } %>