<% if(bidder.price != 0) { %>
<tr class="line-ranked-table" data-url="<%= bidder.url %>">
  <td class="align-middle index"><%= index + 1 + (locals.offset ? offset : 0) %>.</td>
  <td class="align-middle text-truncate">
    <img class="thumbs" src="images/thumbs/<%= bidder.img_path %>" alt="image" data-img="<%= bidder.img_path %>">
    <%= bidder.name %>
  </td>
  <td class="align-middle text-center"><%= bidder.price %> €</td>
  <td class="align-middle text-center">
  <%if (bidder.bid_time == 0) { %>
    -
  <% } else { %>
    <% var date = new Date(bidder.bid_time) %>
    <% var day = Math.trunc(bidder.bid_time/24/3600/1000) %>
    <% var hours = date.getHours() %>
    <% var minutes = date.getMinutes() %>    
    <% var seconds = date.getSeconds() %>
    <%= day > 0 ? day + ' j' : '' %>
    <%= day == 0 && hours == 0 ? '' : hours + ' h' %>
    <%= bidder.bid_time >= 60000 && day == 0 ? minutes + ' min' : '' %>
    <%= day == 0 && hours == 0 && minutes == 0 ? seconds + ' sec' : '' %>
  <% } %>
  </td>
</tr>
<% } %>